.rowStyle{
    grid-column-gap: -11px;
    
}
.portfolioColumn{
   grid-column-gap: 160px;
   margin-bottom: 10%;
   
}
.cardBodyStyle{
    background-color: #2F303A;
}
.h2Portfolio {
    color: white;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 5%;
}